
/* Formatierung der Details */
div.display-label, div.editor-label {
    font-weight: bold;
    display: block;
    width: 10em;
    float: left;
}

div.display-field, div.editor-field {
    margin-left: 10em;
    display: block;
}

div.display-label:after, div.editor-label label:after { content: ":"; }

div.display-field:after, div.editor-label:after { content: '\00A0'; }

/* Unterstreichen der Links im Table Header für die Sortierung entfernen */
th a:link, th a:visited, th a:active, th a:hover {
    text-decoration: none;
}

/* Anzeige der Sortierung  korrigieren */

th a, th a {
    margin-right: 2.0em;
}

th.asc a:after, th.desc a:after {
    top: 0.25em;
}

th.asc a, th.desc a {
    padding-right: 1.0em;
}